@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    padding: 20px;
    /* background-color: darkslategrey; */
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
}

.app {
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    width: 50%;
    min-width: 440px;
    margin: 100px auto;
    border-radius: 25px;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    overflow-x: hidden;
}

.app h1 {
    padding: 20px 30px;
    font-weight: bold;
}

.themeButton {
    height: 40px;
    width: 40px;
    margin: auto 200px;
}

.search_bar {
    width: 80%;
    border: none;
    padding: 15px 140px 15px 15px;
    margin-left: 20px;
    margin-right: 12px;
    outline: none;
    border-radius: 18px;
    background-color: rgb(242, 242, 242);
    font-family: inherit;
    font-size: 18px;
}

::placeholder {
    font-size: 18px;
    opacity: 0.7;
}

.row {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content:center;
}

.add_button {
    background: rgb(52,122,128);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 12px;
    border-radius: 50%;
    font-family: inherit;
    font-size: 16px;
    margin-right: 20px;
}

.add_button:hover {
    opacity: 0.9;
}

.task_list {
    margin: 20px auto;
    width: 75%;
}

li {
    display: flex;
    list-style-type: none;
    height: 50px;
    justify-content: space-between;
}

.done {
    border: 1px solid rgb(211, 211, 211);
    background-color: #fff;
    color: #fff;
    font-family: inherit;
    height: 30px;
    width: 30px;
    margin: 10px 5px;
    border-radius: 50%;
    cursor: pointer;
}

.done:hover {
    background-color: #f7f7f7;
}

.taskText {
    margin: auto 6px;
    cursor: pointer;
}

.delete {
    border: none;
    background-image: url(images/x.jpg);
    background-size: cover;
    opacity: 0.6;
    height: 25px;
    width: 25px;
    margin: 7px;
    cursor: pointer;
}

.delete:hover {
    opacity: 0.9;
}